*{ 
    margin: 0px;
    padding: 0px;
}

body{
    background: url(../img/sabias.jpg) no-repeat center center fixed;
    background-size: cover; 
}

.centro {
    margin: auto;
    margin-top: 150px; /* altura de los cuadrados*/
    width: 1200px;
    height: 400px;
}

div.contenedor {
    width: 400px;
    height: 480px;
    float: left;
    border-radius: 20%;
}

/* CAJAS */
div#uno {
    display: block;
    background-color: rgb(89, 80, 122);
    opacity: .9;
}

div#dos {
    display: block;
    background-color: rgb(124, 63, 139);
    opacity: .9;
}

div#tres {
    display: block;
    background-color: rgb(117, 73, 73);
    opacity: .9;
}

/* CONTENIDO INTERNO */
.contenedor .content .interno {
    font-size: 12px;
    font-family: "Tahoma", "Geneva", sans-serif;
    font-weight: bold;
}

.contenedor .content .interno2 {
    font-size: 12px;
    font-family: "Tahoma", "Geneva", sans-serif;
    font-weight: bold;
}

.contenedor .content .interno3 {
    font-size: 12px;
    font-family: "Tahoma", "Geneva", sans-serif;
    font-weight: bold;
}

/* TITULO CENTRADO */
p.texto {
    font-size: 19px;
    color: white;
    text-align: center;
    padding-top: 5px;
    text-decoration: underline overline;
}

/* DISEÑOS DE LAS LETRAS*/
p.content {
    margin-top: 10px;
    font-size: 20px;
    color: white;
    line-height: 90%;
}

/* ICONOS CENTRADOS */
img.icon {
    display: block;
    padding: 10px;
    width: 40px;
    margin: auto;
    border-radius: 30%;
    background-color: rgba(255,255,255,0.15);
    box-shadow: 0px 0px 0px 30px rgba(255,255,255,0); /* despla hori, despla verti, difuminacion, expansion*/
    transition: box-shadow 0.4s;
}

/* DISEÑO IMAGEN */
.contenedor .img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    padding-top: 20px;
    border-radius: 30%; 
    -webkit-box-shadow: 9px 5px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 5px 8px -1px rgba(0,0,0,0.75);
    box-shadow: 5px 10px 8px -1px rgba(0,0,0,0.75);
}