{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% if request.user.is_staff %} Reportes {% else %} Mis reportes {% endif %}{% endblock %}
{% block extrahead %} 
    <link rel="stylesheet" href="css/flexboxgrid.css">

{% endblock %}
{% block content %}
    <div class="tabla">
        <div class="titulo">
                {% if request.user.is_staff %} Reportes {% else %} Mis reportes {% endif %}
            </div>
        <table>
            <thead>
                <tr>
                    <th> N° Reporte </th>
                    <th> Fecha</th>
                    <th> Asunto  </th>
                    <th> Dirección </th>
                    <th> Estado </th>
                    <th> </th>
                </tr>
            </thead>
        {% for report in data %}               
            <tr>
                <td style="text-align:center"> {{report.id}} </td>
                <td style="text-align:center"> {{report.fechacreacion}} </td>
                <td> {{report.asunto}} </td>
                <td> {{report.direccion}} </td>
                <td style="text-align:center"> {{report.get_estado_display}} </td>
                <td style="text-align:center"> <a href="{% url 'detallereporte' id=report.id %}">Ver detalle</a> </td>
            </tr>
        {% endfor %}    
        </table>
    </div>
{% endblock %}    