<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/css-sabia.css">
        <title>¿Sabias que?</title>
    </head>
    <body>
        <div class="centro">
             <div class="contenedor" id="uno">
                    <a href=""> <img class="icon" src="img/motivacion.png" alt=""> </a>
                    <p class="texto"> Motivación </p>
                    <p class="content" id="content1"> A<span class="interno">ctualmente, no existe un medio rapido para el reporte de daños en la infraestructura comunal o patrimonial
                        comunal dentro de Pudahuel, por lo que pueden pasar semanas entre que el problema aparece y es notificado a las autoridades de la Municipalidad Correspondiente.</span>  
                        <br><br><br>
                    </p>
                    <a href=""><img class="img" src="img/motivaciones.jpg" alt=""></a>
             </div>

             <div class="contenedor" id="dos">
                    <a href=""> <img class="icon" src="img/objetivo.png" alt=""> </a>
                    <p class="texto">Objetivo</p>
                    <p class="content" id="content2"> C<span class="interno2">omo proyecto tenemos tres objetivos y esos son: <br>
                        1) Establecer un medio de comunicacion rapido y transparente entre la ciudadania y la municipalidad en cuanto a los problemas de infraestructura <br>
                        2) Facilitar la toma de decisiones con respecto a las necesidades de los vecinos de Pudahuel, mediante la recepcion directa de los avisos. <br>
                        3) Agilizar los procesos de reparacion al poder obtener informes estadisticos sobre los puntos mas criticos de la comuna.</span>
                    </p>
                    <a href=""><img class="img" src="img/objetivos.jpg" alt=""></a>
                </div>
                                    
                <div class="contenedor" id="tres">
                    <a href=""> <img class="icon" src="img/objetivo-mercado.png" alt=""> </a>
                    <p class="texto">Objetivo del mercado</p>
                    <p class="content" id="content3"> L<span class="interno3">a aplicacion esta diseñada para proveer sus servicios a la comuna de Pudahuel u otras 
                        Municipalidades, sirviendo como herramienta para la comunicacion con sus habitantes</span></p>
                        <br><br><br>
                    <a href=""><img class="img" src="img/mercado.jpg" alt=""></a>
                </div>
        </div>
    </body>
</html>